/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 10px;
}

.bg-watergreen {
  background-color: rgb(36, 255, 200);
  height: 95vh;
  padding-top: 30px;
}

.container {
  max-width: 50%;
  height: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 1%;

}

/* header */
#logo {
  margin-left: 30px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

#main-title {
  display: inline;
  font-size: 3rem;
  font-weight: 900;
  vertical-align: middle;
}