/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 10px;
}

.bg-watergreen {
  background-color: rgb(36, 255, 200);
  height: 95vh;
  padding-top: 30px;
}

.container {
  max-width: 50%;
  height: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 1%;
}

ul {
  list-style: none;
}

h2 {
  display: inline;
  vertical-align: middle;
}

.row-list {
  margin-top: 20px;
}

/* header */
#logo {
  margin-left: 30px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

#main-title {
  display: inline;
  font-size: 3rem;
  font-weight: 900;
  vertical-align: middle;
}

/* nav */
nav {
  padding: 10px 25px;
  border-bottom: 1px solid lightgray;
}

.format-button {
  font-size: 1.1rem;
  border-radius: 10%;
  border: none;
  padding: 10px;
}

/* main */
main {
  margin: 50px 30px;

}

.arrow-down {
  font-size: 12px;
  display: inline;
}

.check-list {
  border: 1px solid green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  display: inline-block;
}

.row-list span {
  font-size: 1.2rem;
}

.type-list {
  border-radius: 10px;
  width: 75px;
  height: 26px;
  text-align: center;
  font-size: 0.9rem;
  padding: 5px;
  display: inline-block;
}

/* utility */
.bg-blue {
  background-color: #1e90ff;
}

.white-text {
  color: white;
}

.correct {
  color: green;
}

.bg-lightblue {
  background-color: #45abea;
}